@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@font-face {
  font-family: 'ScpRomanRegular';
  src: url('./fonts/source_code_pro_roman_regular.ttf')
}
body {
  font-family: 'ScpRomanRegular', Fallback, 'Courier New';
}
#eline-bw {
  height: 100vh;
  width: 100%;
  background-image: url("../images/eline_bw.jpg");
  background-size: cover;
  background-position: center top;
  padding: 10px;
  .row {
    margin: 0;
    max-width: 100%;
  }
}
.info {
  color: white;
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  margin-bottom: 0px;
  font-family: 'ScpRomanRegular', Fallback, 'Courier New';
}
.note_container {
  position: fixed;
  padding-right: 10px;
  width: 100%;
  bottom: 0;
  .note_title {
    color: white;
    font-family: 'ScpRomanRegular', Fallback, 'Courier New';
  }
  .note_message {
    height: 75px;
  }
  .note_button {
    float: right;
    font-family: 'ScpRomanRegular', Fallback, 'Courier New';
    border-radius: 1px;
  }
}
